html,
body,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
p,
pre,
code,
input,
textarea,
div {
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-family: 'Microsoft YaHei', PingFangSC-Regular, 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
img {
	border: 0;
	max-width: 100%;
}
:focus {
	outline: 0;
}
html,
body {
	font-size: 14px;
	width: 100%;
	height: 100%;
	color: #333;
	background: #e2e7ef;
}
.w {
	position: relative;
	width: 1180px;
	margin: 0 auto;
}
input,
select,
textarea {
	&:-webkit-autofill {
		box-shadow: 0 0 0 1000px #fff inset !important;
	}
	&::-webkit-input-placeholder {
		color: #ccc;
		font-size: 14px;
	}
}
table {
	border-collapse: collapse;
}
a {
	color: inherit;
	text-decoration: none;
}
li {
	list-style: none;
}
em {
	font-style: normal;
}
.clear {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	content: ' ';
	display: block;
}
.clearfix:after {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.row {
	display: flex;
	> * {
		flex-shrink: 0;
	}
}
.column {
	display: flex;
	flex-direction: column;
	> * {
		flex-shrink: 0;
	}
}
.flex-col(4);
.flex-col(@n, @i: 1) when (@i =< @n) {
	.col-@{i} {
		flex: @i;
	}
	.flex-col(@n, (@i + 1));
}
.mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}
@import '//at.alicdn.com/t/font_1436880_3cxq2hcdlfv.css';
.iconfont {
	font-size: inherit;
	-webkit-text-stroke-width: 0;
}
.link {
	cursor: pointer;
}
@import 'dark/index.less';
