*.ts  linguist-language=TypeScript
.eslintrc.js linguist-vendored
.prettierrc.js linguist-vendored
config.js linguist-vendored
typedoc.js linguist-vendored
*.config.js linguist-vendored
lib/* linguist-vendored
es/* linguist-vendored
app/* linguist-vendored
cache/* linguist-vendored