**/*.ts  linguist-language=TypeScript
ui/*.ts  linguist-language=TypeScript
server/*.ts  linguist-language=TypeScript
**/.eslintrc.js linguist-vendored
**/.prettierrc.js linguist-vendored
**/config.js linguist-vendored
typedoc.js linguist-vendored
**/*.config.js linguist-vendored
lib/**/* linguist-vendored
es/**/* linguist-vendored
app/**/* linguist-vendored
script/**/* linguist-vendored
static/**/* linguist-vendored
cache/* linguist-vendored