.DS_Store
node_modules
dist
lib
es
app
packages/gitmars/es
packages/gitmars/lib
packages/server/app
yarn.lock
pnpm-lock.yaml
/.pnp
.pnp.js
gitmarsconfig.json
.gitmarsrc

/tests/e2e/reports/
selenium-debug.log

# local env files
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.bak
*_bak
*.bak.js
*.bak.mjs

# testing
/coverage

# production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
cache/*
!cache/.gitkeep
stats.html

#Electron-builder output
dist_electron