{
  "trailingComma": "none",
  "printWidth": 360,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "filepath": "",
  "jsxBracketSameLine": true,
  "insertPragma": false,
  "useTabs": true,
  "proseWrap": "preserve",
  "requirePragma": false,
  "cursorOffset": -1,
  "rangeStart": 0,
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": true
      }
    }
  ]
}
